body {
    background-image: url('/Images/Background.png'); /* path to my background */
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
}


.playnow { /*this will afect all buttons that you interact with on the index page */
    top: 450px;
    left: 890px;
    position: absolute;
    z-index: 2;
    background-color: lightblue; /* Replace with your desired background color */
    color: black; /* Text color */
    padding: 3px 10px; /* Adjust padding to your liking */
    font-size: 13px; /* Adjust font size to your liking */
    border: none; /* Remove border */
    border-radius: 25px; /* Optional: Add border-radius for rounded corners */
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
}

.playnow:hover {
    transform: scale(1.3);
}

.heading {
    color:white;
    font-size: 45px;
    font-family: monospace;
    font-weight: bold;
    position: absolute;
    left: 25px;
    top: 110px;
    text-align: center;
}

a {
    text-decoration: none; /* Remove underline */
    color: #333;
}

.whyus {
    color: white;
    font-family: monospace;
    left: 100px;
    top: 70px;
    text-align: center;
}

#qwhyus { /*Put stuff like font size and Bold or not */
    font-size: 24px;
}

#awhyus { /*Put stuff like font size and Bold or not */
    font-size: 16px;
}
